.notes__wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(150, 150, 150, 0.1);
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.2em;
}

.notes__message {
    width: 98.5%;
    min-height: 20px;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.notes__area {
    width: 100vw;
    min-height: 50vh;
    border-bottom: 2px solid grey;
}

.comment__btn {
    width: 80vw;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: sandybrown;
    border: sandybrown;;
    color: white;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.3em;
}

.comment__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment__area {
    margin: 10px;
}